h1 {
    font-family: "Fondamento";
    text-align: center;
}

p {
    font-family: "Playfair Display", serif;
    font-weight: 400;
    max-width: 300px;
}

html, body {
    background-color:#dae2e8;
    margin: 0;  
    padding: 0;
}

#proportional_map{
    max-width: 150px;
    display: block;
    margin-left: 20px;
}

.outer{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 650px;
}

.outer2{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;
}

.container {
    max-width: 300px;
    background: #d1dbe3;
    padding: 30px;
    border-radius: 20px;
    border-left: 4px solid black;
    margin-top: 35px;
    margin-left: 25px;
}

.image{
    width: 200px;
    height: 150px;
    display: block;
    margin: 0 auto;
}